In [ ]:
import pandas as pd

In [ ]:
Dataset = pd.read_excel("/content/bike sales data TCB.xlsx")

In [ ]:
Dataset

,Customer ID,Customer Name,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,CG-12520,Claire Gute,M,F,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No
1,CG-12520,Claire Gute,M,M,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No
2,DV-13045,Darrin Van Huff,M,M,80000,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No
3,SO-20335,Sean O'Donnell,S,M,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Yes
4,SO-20335,Sean O'Donnell,S,M,30000,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,GT-14710,Greg Tran,S,F,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,Yes
1022,GT-14710,Greg Tran,M,F,20000,2,Partial College,Manual,Yes,0,0-1 Miles,Europe,63,No
1023,PB-19150,Philip Brown,M,M,10000,0,Partial College,Manual,No,1,0-1 Miles,Pacific,26,Yes
1024,HR-14770,Hallie Redmond,S,F,20000,0,High School,Manual,No,1,5-10 Miles,Europe,31,No
1025,DE-13255,Deanra Eno,S,M,80000,2,High School,Skilled Manual,No,2,1-2 Miles,Pacific,50,Yes

#**AGGREGATE FUNCTIONS**

In [ ]:
#Use the `SUM` function to calculate the total income from all customers
Dataset["Income"].sum()

57670000

In [ ]:
#Use the `AVERAGE` function to find the average income of customers
Dataset["Income"].mean()

56208.57699805068

In [ ]:
#Use the `MAX` function to identify the maximum income of customers
Dataset["Income"].max()

170000

In [ ]:
#Use the `MIN` function to find the minimum income
Dataset["Income"].min()

10000

In [ ]:
#Use the `COUNT` function to count how many income values are available (non-blank)
Dataset["Income"].count()

1026

# **TEXT FUNCTIONS**

In [ ]:
#Use the `LEFT` function to extract the first 2 characters from the Customer ID column
Dataset["Customer ID"].str.slice(0,2)

0       CG
1       CG
2       DV
3       SO
4       SO
        ..
1021    GT
1022    GT
1023    PB
1024    HR
1025    DE
Name: Customer ID, Length: 1026, dtype: object

In [ ]:
#Use the `RIGHT` function to extract the last 3 characters of the Customer Name column
Dataset["Customer Name"].str.slice(-3)

0       ute
1       ute
2       uff
3       ell
4       ell
       ...
1021    ran
1022    ran
1023    own
1024    ond
1025    Eno
Name: Customer Name, Length: 1026, dtype: object

In [ ]:
#Use the `LEN` function to find the length of each name in the Customer Name column
Dataset["Customer Name"].str.len()

0       11
1       11
2       15
3       14
4       14
        ..
1021     9
1022     9
1023    12
1024    14
1025    10
Name: Customer Name, Length: 1026, dtype: int64

In [ ]:
#Use the `CONCAT` function (or `TEXTJOIN` if preferred) to combine the Customer Name and Customer ID
Dataset["Customer Name"] + " " + Dataset["Customer ID"]

0           Claire Gute CG-12520
1           Claire Gute CG-12520
2       Darrin Van Huff DV-13045
3        Sean O'Donnell SO-20335
4        Sean O'Donnell SO-20335
                  ...
1021          Greg Tran GT-14710
1022          Greg Tran GT-14710
1023       Philip Brown PB-19150
1024     Hallie Redmond HR-14770
1025         Deanra Eno DE-13255
Length: 1026, dtype: object

In [ ]:
#Use the `TRIM` function to remove any leading or trailing spaces in the Customer Name column
Dataset["Customer Name"].str.strip()

0           Claire Gute
1           Claire Gute
2       Darrin Van Huff
3        Sean O'Donnell
4        Sean O'Donnell
             ...
1021          Greg Tran
1022          Greg Tran
1023       Philip Brown
1024     Hallie Redmond
1025         Deanra Eno
Name: Customer Name, Length: 1026, dtype: object

# **LOGICAL FUNCTIONS**

In [ ]:
#Use the `IF` function to create a new column labeled "High Income", where customers with an income above $50,000 are marked as “Yes” and those below are marked as “No.”
Dataset["High Income"] = Dataset["Income"].apply(lambda x: "Yes" if x > 50000 else "No")

In [ ]:
def dfincome(income):
  if income>50000:
   return "Yes",
  else:
    return "No"

  Dataset["High Income"] = Dataset["Income"].apply(dfincome)

In [ ]:
Dataset

,Customer ID,Customer Name,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike,High Income
0,CG-12520,Claire Gute,M,F,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No,No
1,CG-12520,Claire Gute,M,M,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No,No
2,DV-13045,Darrin Van Huff,M,M,80000,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No,Yes
3,SO-20335,Sean O'Donnell,S,M,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Yes,Yes
4,SO-20335,Sean O'Donnell,S,M,30000,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,GT-14710,Greg Tran,S,F,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,Yes,No
1022,GT-14710,Greg Tran,M,F,20000,2,Partial College,Manual,Yes,0,0-1 Miles,Europe,63,No,No
1023,PB-19150,Philip Brown,M,M,10000,0,Partial College,Manual,No,1,0-1 Miles,Pacific,26,Yes,No
1024,HR-14770,Hallie Redmond,S,F,20000,0,High School,Manual,No,1,5-10 Miles,Europe,31,No,No
1025,DE-13255,Deanra Eno,S,M,80000,2,High School,Skilled Manual,No,2,1-2 Miles,Pacific,50,Yes,Yes

In [ ]:
Dataset["High Income"] = Dataset["Income"].apply(lambda income: "Yes" if income > 50000 else "No")

In [ ]:
Dataset

,Customer ID,Customer Name,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike,High Income
0,CG-12520,Claire Gute,M,F,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No,No
1,CG-12520,Claire Gute,M,M,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No,No
2,DV-13045,Darrin Van Huff,M,M,80000,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No,Yes
3,SO-20335,Sean O'Donnell,S,M,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Yes,Yes
4,SO-20335,Sean O'Donnell,S,M,30000,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,GT-14710,Greg Tran,S,F,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,Yes,No
1022,GT-14710,Greg Tran,M,F,20000,2,Partial College,Manual,Yes,0,0-1 Miles,Europe,63,No,No
1023,PB-19150,Philip Brown,M,M,10000,0,Partial College,Manual,No,1,0-1 Miles,Pacific,26,Yes,No
1024,HR-14770,Hallie Redmond,S,F,20000,0,High School,Manual,No,1,5-10 Miles,Europe,31,No,No
1025,DE-13255,Deanra Eno,S,M,80000,2,High School,Skilled Manual,No,2,1-2 Miles,Pacific,50,Yes,Yes

In [ ]:
#Use the `SUMIF` function to calculate the total Income for customers who are married (i.e M)
def dfincome(income):
  # Assuming 'income' is a pandas DataFrame and it contains columns named 'Marital_Status' and 'Income'
  # Replace 'Marital_Status' and 'Income' if your column names are different
    return income[income['Marital Status'] == 'M']['Income'].sum()

    return None

In [ ]:
Dataset.groupby("Marital Status")["Income"].sum()

Marital Status
M    32210000
S    25460000
Name: Income, dtype: int64

In [ ]:
#Use the `COUNTIF` function to count how many customers have an income greater than $50,000
def dfincome(income):
  return income[income['Income'] > 50000]['Income'].count()

In [ ]:
Dataset.groupby("Income")["Income"].count()

Income
10000      76
20000      78
30000     140
40000     159
50000      40
60000     166
70000     125
80000      94
90000      40
100000     30
110000     16
120000     19
130000     32
150000      4
160000      3
170000      4
Name: Income, dtype: int64

In [ ]:
#In a new column named “Age Bracket”, Use the `IFS` function to classify customers age into categories: - Adolescents (0-30), - Middle age (31-54), and - Old (55+)

In [ ]:
Dataset['Age Bracket'] = Dataset['Age'].apply(lambda x: 'Adolescents' if x <= 30 else ('Middle age' if x <= 54 else 'Old'))

In [ ]:
Dataset

,Customer ID,Customer Name,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike,High Income,Age Bracket
0,CG-12520,Claire Gute,M,F,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No,No,Middle age
1,CG-12520,Claire Gute,M,M,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No,No,Middle age
2,DV-13045,Darrin Van Huff,M,M,80000,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No,Yes,Old
3,SO-20335,Sean O'Donnell,S,M,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Yes,Yes,Middle age
4,SO-20335,Sean O'Donnell,S,M,30000,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes,No,Middle age
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,GT-14710,Greg Tran,S,F,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,Yes,No,Middle age
1022,GT-14710,Greg Tran,M,F,20000,2,Partial College,Manual,Yes,0,0-1 Miles,Europe,63,No,No,Old
1023,PB-19150,Philip Brown,M,M,10000,0,Partial College,Manual,No,1,0-1 Miles,Pacific,26,Yes,No,Adolescents
1024,HR-14770,Hallie Redmond,S,F,20000,0,High School,Manual,No,1,5-10 Miles,Europe,31,No,No,Middle age
1025,DE-13255,Deanra Eno,S,M,80000,2,High School,Skilled Manual,No,2,1-2 Miles,Pacific,50,Yes,Yes,Middle age

In [ ]:
#Use the `AND` function to create a new column that checks if a customer’s income is greater than $50,000 and their age is greater than 30

In [ ]:
Dataset['Income >50k and Age >30'] = Dataset.apply(lambda row: row['Income'] > 50000 and row['Age'] > 30, axis=1)

In [ ]:
Dataset

,Customer ID,Customer Name,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike,High Income,Age Bracket,Income >50k and Age >30
0,CG-12520,Claire Gute,M,F,40000,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No,No,Middle age,False
1,CG-12520,Claire Gute,M,M,30000,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No,No,Middle age,False
2,DV-13045,Darrin Van Huff,M,M,80000,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No,Yes,Old,True
3,SO-20335,Sean O'Donnell,S,M,70000,0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Yes,Yes,Middle age,True
4,SO-20335,Sean O'Donnell,S,M,30000,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes,No,Middle age,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,GT-14710,Greg Tran,S,F,20000,0,Partial High School,Manual,No,2,0-1 Miles,Europe,32,Yes,No,Middle age,False
1022,GT-14710,Greg Tran,M,F,20000,2,Partial College,Manual,Yes,0,0-1 Miles,Europe,63,No,No,Old,False
1023,PB-19150,Philip Brown,M,M,10000,0,Partial College,Manual,No,1,0-1 Miles,Pacific,26,Yes,No,Adolescents,False
1024,HR-14770,Hallie Redmond,S,F,20000,0,High School,Manual,No,1,5-10 Miles,Europe,31,No,No,Middle age,False
1025,DE-13255,Deanra Eno,S,M,80000,2,High School,Skilled Manual,No,2,1-2 Miles,Pacific,50,Yes,Yes,Middle age,True